html,body {
  background: rgb(36,227,202);
  background: linear-gradient(0deg, rgba(36,227,202,1) 0%, rgba(200,190,6,1) 100%);
  text-align: center;
  font-family: 'Lato', sans-serif;
  min-width: 320px;
  margin: 0px;
}

header {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  background-color: #eeeeee;
  margin: 0 auto;
  border-radius: 25px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

#description {
  font-size: 1.2em;
  text-align: center;
}

.labels {
  display: inline-block;
  text-align: right;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px; 
} 

label {
  font-size: 1rem;
   color: #000000;}

#userRating {
  text-align: center;
}

p {
  display: block;
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

/* .rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
} */

/* #userAge {
  width: 40px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
} */
/* 
#submit {
  background-color: #43a047;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
  border-radius: 7px;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
} */
/* 
@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
} */
